<h1>Hello, Jess!</h1>

<marquee direction="down" width="500" height="500" behavior="alternate">
  <marquee behavior="alternate">
    <h4>Jess is a one person team</h4>
    <img src="<%= current_user.picture_url%>" class="avatar" alt="MDN">
  </marquee>
</marquee>
