<h1>Hello, Jess!</h1>

<marquee direction="down" width="500" height="500" behavior="alternate" class="centered">
  <marquee behavior="alternate">
    <div class="centered">
    <h4>Jess is a one person team</h4>
    <img src="<%= current_user.picture_url%>" class="avatar" alt="MDN">
  </div>
  </marquee>
</marquee>

<br/>

<iframe width="700" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/347719044&amp;color=%23ea8a6f&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>

<br/>

<%= current_user.drink_count || 0%> drinks
<%=form_tag('/drink_count', method: 'put') do %>
  <button type="submit">I had a drink.</button>
<% end %>
