<h1>Hello, Jess!</h1>

<marquee direction="down" width="500" height="500" behavior="alternate" class="centered">
  <marquee behavior="alternate">
    <div class="centered">
    <h4>Jess is a one person team</h4>
    <img src="<%= current_user.picture_url%>" class="avatar" alt="MDN">
  </div>
  </marquee>
</marquee>

<%= current_user.drink_count || 0%> drinks
<%=form_tag('/drink_count', method: 'put') do %>
  <button type="submit">I had a drink.</button>
<% end %>
