.MainNav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  background-color: #f9b1b1;
  margin: 0;

  &-item, &-link {
    color: #261e1e;
  }

  &-item {
    padding: 10px; 
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
  }

}
