@import url(//fonts.googleapis.com/css?family=Gloria+Hallelujah);

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #ddd;
}
.sign_out {
  float: right
}

img.avatar {
  width: 10%; 
  height: 25%;
}
