@import url(//fonts.googleapis.com/css?family=Poppins);

@import "components/nav";
@import "components/posts";

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

a:hover {
	color: #f23e74;
}

.logo-container {
  display: block;
  text-align: right;
  height: 100px;

  img {
    height: 100%;
  }
}

.PostTable {
    margin-left:auto; 
    margin-right:auto;

    td {
    	padding-right: 50px;
    	padding-left: 50px;
    	text-align: left;
    }
}

.PostHeading {
	 text-align: center;
    font-size: 20px;
    text-decoration: underline;
}
