@import url(//fonts.googleapis.com/css?family=Lora);

body {
  font-family: 'Lora', serif;
  background-color: #d88f9a;
}
.sign_out {
  float: right
}

img.avatar {
  height: 100px;
}

nav a {
  padding: 20px;
}

nav a:visited, nav a {
  color: white;

}

.centered {
  text-align: center;
}

.blue {
  background-color: blue;
}

nav {
  background-color: black;
  margin-bottom: 25px;
}

img.aboutimage {
  float: left;
  padding-right: 20px;
}
